@import url('variables.scss');

.promo {
  position: relative;
  padding-bottom: 350px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 265px;
    height: 237px;
    background-image: url('../img/ellipse.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.promo__heading2 {
  font-size: 24px;
}

.promo__button {
  width: fit-content;
  height: fit-content;
  margin-top: 20px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 20px;
  background-color: #1A61C7;
  border: none;

  &:hover {
    color: #1A61C7;
    background-color: #fff;
  }
}

.promo__heading-wrap {
  display: flex;
  justify-content: space-between;
}

.promo__flex-wrap {
  display: block;
}

.promo__flex-wrap-spinner {
  display: flex;
}

.promo__tree {
  position: absolute;
  top: -70px;
  z-index: -2;
}

.promo__burton {
  width: 100%;
  position: absolute;
  top: 50%;
  max-width: 500px;
  left: 50%;
  transform: translateX(-50%);
}

.promo__spinner {
  display: block;
  margin-left: auto;
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 1450px) {
  .promo {
    max-width: 1150px;
    margin: 0 auto;
    padding-bottom: 210px;
  }

  .promo__heading-wrap {
    justify-content: flex-end;
    gap: 40px;
  }

  .promo__flex-wrap {
    display: flex;
    justify-content: space-between;
  }
  
  .promo__spinner {
    margin-left: 230px;
    width: 200px;
    height: 200px;
  }  

  .promo__heading2 {
    font-size: 34px;
    width: 373px;
  }

  .promo__burton {
    width: 745px;
    transform: none;
    top: 60%;
  }

  .promo__back {
    z-index: -3;
    position: relative;
  }
}